<section class="col-12">
    <div class="d-flex flex-column flex-sm-row col-11 mx-auto">
        <div id="publicity" class="col-12 col-sm-8 d-flex align-items-end justify-content-center">
            <img src='assets/images/dog.png' alt="" class="img-fluid">
        </div>
        <div class="col-12 col-sm-4 d-flex align-items-end">
            <div id="form" class="col-12 bg-light d-flex justify-content-center align-items-center p-2 p-sm-5 rounded-top">
                <form method="post" class="col-12" [formGroup]="formulario" (ngSubmit)="enviar_info()">
                    <div  class="d-flex justify-content-center align-items-center mb-4">
                        <div class="me-1 text-center redondo">
                            <strong class="text-white">1.</strong>
                        </div>
                        <strong class="text-black-50 fs-4 fs-sm-2">Inscripción punto de venta</strong>
                    </div>
                    <div class="col-9 col-sm-12 mx-auto mb-2">
                        <input class="form-control text-black-50" type="text" name="nombre_cliente" id="" placeholder="Nombre del cliente" formControlName="nombre_cliente" required>
                        @if(nombreClienteValidator){
                            <small class="text-danger"><i class="bi bi-x-circle-fill"></i> Se presentó un error</small>
                        }
                    </div>
                    <div class="col-9 col-sm-12 mx-auto mb-2">
                        <input class="form-control text-black-50" type="text" name="nit" id="" placeholder="NIT" formControlName="nit" required>
                        @if(nitValidator){
                            <small class="text-danger"><i class="bi bi-x-circle-fill"></i> Se presentó un error</small>
                        }
                    </div>
                    <div class="col-9 col-sm-12 mx-auto mb-2">
                        <input class="form-control text-black-50" type="text" name="nombre_punto" id="" placeholder="Nombre del punto" formControlName="nombre_punto">
                        @if(nombrePuntoValidator){
                            <small class="text-danger"><i class="bi bi-x-circle-fill"></i> No puedes usar los caracteres #¿?,</small>
                        }
                    </div>
                    <div class="col-9 col-sm-12 mx-auto mb-2">
                        <input class="form-control text-black-50" type="text" name="nombre_equipo" id="" placeholder="Nombre del equipo" formControlName="nombre_equipo">
                        @if(nombreEquipoValidator){
                            <small class="text-danger"><i class="bi bi-x-circle-fill"></i> No puedes usar los caracteres #¿?,</small>
                        }
                    </div>
                    <div class="col-9 col-sm-12 mx-auto mb-2">
                        <select name="ciudad" id="" class="form-select" formControlName="ciudad">
                            <option value="">Ciudad</option>
                            <option value="Cali">Cali</option>
                            <option value="Medellin">Medellin</option>
                            <option value="Bogota">Bogotá</option>
                        </select>
                        @if(ciudadValidator){
                            <small class="text-danger"><i class="bi bi-x-circle-fill"></i> Debes seleccionar una ciudad</small>
                        }
                    </div>
                    <div class="col-9 col-sm-12 mx-auto mb-2">
                        <input class="form-control text-black-50" type="text" name="promotor" id="" placeholder="Promotor" formControlName="promotor">
                        @if(promotorValidator){
                            <small class="text-danger"><i class="bi bi-x-circle-fill"></i> No puedes usar los caracteres #¿?,</small>
                        }
                    </div>
                    <div class="col-9 col-sm-12 mx-auto mb-2">
                        <input class="form-control text-black-50" type="text" name="rtc" id="" placeholder="RTC" formControlName="rtc">
                        @if(rtcValidator){
                            <small class="text-danger"><i class="bi bi-x-circle-fill"></i> Solo se permiten valores numéricos de 0 a 9</small>
                        }
                    </div>
                    <div class="col-9 col-sm-12 mx-auto mb-2">
                        <input class="form-control text-black-50" type="text" name="capitan_usuario" id="" placeholder="Capitan y/o Usuario (Solo minúsculas)" formControlName="capitan_usuario">
                        @if(capitanUsuarioValidator){
                            <small class="text-danger"><i class="bi bi-x-circle-fill"></i> No puedes usar los caracteres ,#¿? o letras mayúsculas</small>
                        }
                    </div>
                    <div class="col-9 col-sm-12 mx-auto mb-2">
                        <aside class="d-flex">
                            <input type="checkbox" name="tratamiento_datos" id="" class="ms-3 me-2" formControlName="tratamiento_datos" required>
                            <article class="politics overflow-auto">
                                <label for="" class="ms-1 texto">
                                    He leido y acepto las políticas de tratamiento de datos personales.
                                    <br><a href="">Conoce los términos y condiciones</a>                         
                                </label>
                            </article>
                        </aside>
                        @if(tratamientoDatosValidator){
                            <small class="text-danger"><i class="bi bi-x-circle-fill"></i> Debes aceptar las políticas de tratamiento de datos</small>
                        }
                    </div>
                    
                    <div class="col-9 col-sm-12 mx-auto mb-2 text-center">
                        <input class="btn col-10 text-white fw-bolder" type="submit" value="Siguiente">
                    </div>
                
                </form>
            </div>
        </div>
    </div>
</section>