<section class="col-12">
    <div class="d-flex flex-column flex-sm-row col-11 mx-auto">
        <div id="publicity" class="col-12 col-sm-8 d-flex align-items-end justify-content-center">
            <img src='assets/images/dog.png' alt="" class="img-fluid">
        </div>
        <div id="form" class="col-12 col-sm-4 d-flex align-items-end justify-content-center">
            <form action="" method="post" class="bg-light col-12 rounded-top p-2 p-sm-5">
                <div  class="d-flex justify-content-center align-items-center mb-4">
                    <div class="me-1 text-center">
                        <strong class="text-white">1.</strong>
                    </div>
                    <h5 class="text-black-50">Inscripción punto de venta</h5>
                </div>
                <div class="col-9 col-sm-12 mx-auto mb-2">
                    <input class="form-control text-black-50" type="text" name="" id="" placeholder="Nombre del cliente">
                </div>
                <div class="col-9 col-sm-12 mx-auto mb-2">
                    <input class="form-control text-black-50" type="text" name="" id="" placeholder="NIT">
                </div>
                <div class="col-9 col-sm-12 mx-auto mb-2">
                    <input class="form-control text-black-50" type="text" name="" id="" placeholder="Nombre del punto">
                </div>
                <div class="col-9 col-sm-12 mx-auto mb-2">
                    <input class="form-control text-black-50" type="text" name="" id="" placeholder="Nombre del equipo">
                </div>
                <div class="col-9 col-sm-12 mx-auto mb-2">
                    <input class="form-control text-black-50" type="text" name="" id="" placeholder="Ciudad">
                </div>
                <div class="col-9 col-sm-12 mx-auto mb-2">
                    <input class="form-control text-black-50" type="text" name="" id="" placeholder="Promotor">
                </div>
                <div class="col-9 col-sm-12 mx-auto mb-2">
                    <input class="form-control text-black-50" type="text" name="" id="" placeholder="RTC">
                </div>
                <div class="col-9 col-sm-12 mx-auto mb-2">
                    <input class="form-control text-black-50" type="text" name="" id="" placeholder="Capitan y/o Usuario (Solo minúsculas)">
                </div>
                <div class="col-9 col-sm-12 mx-auto mb-2 d-flex text-center">
                    <input type="checkbox" name="" id="" class="ms-3">
                    <article class="politics overflow-auto">
                        <label for="" class="ms-1">
                            He leido y acepto las políticas de tratamiento de datos personales
                            <br><a href="">Conoce los términos y condiciones</a>                         
                        </label>
                    </article>
                </div>
                <div class="col-9 col-sm-12 mx-auto mb-2 text-center">
                    <input class="btn col-10 text-white fw-bolder" type="submit" value="Siguiente">
                </div>
            </form>
        </div>
    </div>
</section>